@{
    ViewData["Title"] = "Aboutus";
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<!-- ***** Main Banner Area Start ***** -->
<div style="background-image: url('/assets/images/imgs/sec6.jpg'); height:475px" class="page-heading about-page-heading" id="top">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="inner-content">
                    <h2 class="text-left" style="color:#0B2447">About Our BookStore</h2>
                    <p class="text-left text-muted w-50">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Odio, perspiciatis harum officiis temporibus minima asperiores corrupti omnis mollitia suscipit eaque sapiente provident quaerat repellat facere, nulla, qui culpa. Ipsa, nobis.</p>
                    
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Main Banner Area End ***** -->
<!-- ***** About Area Starts ***** -->
<div class="about-us">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="left-content" >
                    <img src="~/assets/images/imgs/bookicon.jpg" alt="" style="height:460px">
                </div>
            </div>
            <div class="col-lg-6">
                <div class="right-content">
                    <h4>About Us &amp; Our Skills</h4>
                    <span>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore.</span>
                    <div class="quote">
                        <i class="fa fa-quote-left"></i><p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiuski smod kon tempor incididunt ut labore.</p>
                    </div>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod kon tempor incididunt ut labore et dolore magna aliqua ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip.</p>
                    <ul>
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-behance"></i></a></li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** About Area Ends ***** -->

<section class="our-team">
    <div class="container">
        <div class="row d-flex justify-content-around">
            <div class="col-lg-12 ">
                <div class="section-heading">
                    <h2>Awesome Team</h2>
                    <span>Contrary to popular belief, Lorem Ipsum is not simply random.</span>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                        <img src="~/assets/images/imgs/team-1.jpg" style="height:306px ;width:250px">
                    </div>
                    <div class="down-content">
                        <h4>Tasneem Assem</h4>
                        <span>Wep Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                  
                                </ul>
                            </div>
                        </div>
                        <img src="~/assets/images/imgs/team-3.jpg" style="height:306px ;width:250px">
                    </div>
                    <div class="down-content">
                        <h4>Assem Amr</h4>
                        <span>Wep Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>

                                </ul>
                            </div>
                        </div>
                        <img src="~/assets/images/imgs/team-2.jpg" style="height:306px ;width:250px">
                    </div>
                    <div class="down-content">
                        <h4>Manar AbdAllah</h4>
                        <span>Wep Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                   
                                </ul>
                            </div>
                        </div>
                        <img src="~/assets/images/imgs/team-4.jpg" style="height:306px ;width:250px">
                    </div>
                    <div class="down-content">
                        <h4>Ahmed Abdaljalil</h4>
                        <span>Wep Developer</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-md-6">
                <div class="team-item">
                    <div class="thumb">
                        <div class="hover-effect">
                            <div class="inner-content">
                                <ul>
                                    <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                                    <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                                    <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                                 
                                </ul>
                            </div>
                        </div>
                        <img src="~/assets/images/imgs/team-5.jpg" style="height:306px ;width:250px">
                    </div>
                    <div class="down-content  ">
                        <h4>Ashrakat Ahmed</h4>
                        <span>Wep Developer</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- ***** Our Team Area Ends ***** -->
<!-- ***** Subscribe Area Starts ***** -->
<div class="subscribe">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="row">
                    <div class="col-6">
                        <ul>
                            <li>Store Location:<br><span>Sunny Isles Beach, FL 33160, United States</span></li>
                            <li>Phone:<br><span>010-020-0340</span></li>
                            <li>Office Location:<br><span>North Miami Beach</span></li>
                        </ul>
                    </div>
                    <div class="col-6">
                        <ul>
                            <li>Work Hours:<br><span>07:30 AM - 9:30 PM Daily</span></li>
                            <li>Email:<br><span>info@company.com</span></li>
                            <li>Social Media:<br><span><a href="#">Facebook</a>, <a href="#">Instagram</a>, <a href="#">Behance</a>, <a href="#">Linkedin</a></span></li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- ***** Subscribe Area Ends ***** -->