@model BooksEccommerce.Models.Role

@{
    ViewData["Title"] = "AddRole";
    Layout = "~/Views/Shared/_newadminlayout.cshtml";
}

<h1>Add Role</h1>

<hr />
<div class="row w-75 mx-auto">
    <div class="col-md-4">
        <form asp-action="AddRole">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <br/>
            <div class="form-group">
                <label asp-for="roleName" class="control-label"></label>
                <input asp-for="roleName" class="form-control" />
                <span asp-validation-for="roleName" class="text-danger"></span>
            </div>
            <br />
            <br />
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>
<br />
<div>
    <a asp-action="Index">Back to List</a>
</div>

